<% layout('/layouts/boilerplate.ejs') %>

    <form action="/camps/update/<%= campground._id %>?_method=PUT" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value= <%= campground.title %>>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" value= <%= campground.location %>>
        <button>Edit the camp</button>
    </form>
    <a href="/camps/<%= campground._id %>">Go back to Camp</a>
    <form action="/camps/delete/<%= campground._id %>?_method=DELETE" method="post">
        <button>Delete the camp</button>
    </form>
