<% layout('/layouts/boilerplate.ejs') %>

<div class="row mb-5">
    <div class="col-6">
        <div class="card mb-3">
            <img src="<%= campground.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= campground.title %></h5>
              <p class="card-text"><%= campground.description  %> </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%= campground.location %></li>
              <li class="list-group-item text">Submitted by, <%= campground.author.username %></li>
              <li class="list-group-item">₹<%= campground.price %>/night</li>
            </ul>
            <% if(currentUser && campground.author.equals(currentUser._id)){ %> 
            <div class="card-body">
                <a class="btn btn-info" href="/camps/edit/<%= campground._id %>">Edit the camp</a>
                <form class="d-inline" action="/camps/delete/<%= campground._id%>?_method=DELETE" method="post">
                <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %> 
          </div>



          
    </div>
    <div class="col-6">
      <h2 class="mb-3">Leave a Review</h2>
          <form action="/camps/<%=campground._id %>/review" class="mb-3 validation" method="post" novalidate>
            <div class="mb-3">
              <label for="rating">Rating</label>
              <input class="form-range" type="range" min="1" max="5" name="rating" id="rating">
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Review</label>
              <textarea class="form-control" name="body" id="body" cols="30" rows="3" required></textarea>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <button class="btn btn-success">Submit</button>
          </form>

          
          <% for(let review of campground.reviews) {%>
          <div class="card mb-3">
              <div class="card-body">
              <h5 class="card-title">Rating: <%= review.rating %></h5>
              <p class="card-text">Review: <%= review.body  %> </p>
             <% if(currentUser && review.author.equals(currentUser._id)) {%> 
              <form action="/camps/<%= campground._id  %>/review/<%= review._id %>?_method=DELETE" method="post">
                <button class="btn btn-sm btn-danger">Delete</button>
              </form>
              <% } %> 
            </div>
          </div>
          <% } %>  
    </div>
</div>

